/* Write your CSS Here. */
table{

    border:1px solid black;
    display: flex;
     
  flex-wrap:wrap; 
   height:300px; 
   width: 300px; 
   background-color:blue; 
    margin: auto;
}
        
   .slot{
    
    height:40px; 
width:40px; 
margin:3px;
border-radius:20px;
background:white

    
   } 
    
    
    body{
    color:red;
    
    }

.button {

   width: 50px;
   height: 50px;
   margin-left: 500px;
   color: red;
}

.player-one { 
   background-color:red;
   }
   .player-two { 
   background-color:black; 
   }
 
       
  .slot{
   
height:40px; 
width:40px; 
margin:3px;
border-radius:20px;
background-color:white

   
  } 
   
   
   body{
   color:red;
   
   }

#player-turn {
   width: 200px;
   margin: auto;
}

#result-display {
   width: 160px;
   height: 40px;
   margin: 20px auto;
   padding: 30px;
   background-color: black;
   text-align: center;
   display: none;
}

#result-display button {
   margin: 50px;
}