/* Write your CSS Here. */
#table{
    border:1px solid black;
    display: flex;
     
  flex-wrap:wrap; 
   height:500px; 
   width:500px; 
   background:blue; 
    margin-right: 4400px;
}
        
   .column{
    
    height:40px; 
    width:40px; 
    margin:3px;
    border-radius:20px; 
   } 
    
    
    body{
    color:red
    
    }
    .Solt{
       background:white
        
    }
   
       
